Repository ChavaO777/UsabilityResearchWebPlatform, pull requests merged in 2018-11, with the labels that each got.

#92 Add feature for adding Questionnaire to Experiment in backend
  backend/server/controllers/experiments.js
  backend/server/routes/index.js
  backend/test/experiment/experiment_add_questionnaire/AddExistingQuestionnaireToExistingExperiment.test.js
  backend/test/experiment/experiment_add_questionnaire/AddExistingQuestionnaireToNonExistentExperiment.test.js
  backend/test/experiment/experiment_add_questionnaire/AddNonExistentQuestionnaireToExistingExperiment.test.js
Labels: backend

#93 Add component to show questionnaires to add to experiment
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.css
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.html
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.spec.ts
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.ts
  frontend/src/app/models/questionnaire.ts
Labels: frontend

#96 Change navbar for site
  frontend/package.json
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.css
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.html
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.spec.ts
  frontend/src/app/components/nav/nav.component.html
  frontend/src/app/components/nav/nav.component.scss
  frontend/src/app/components/nav/nav.component.spec.ts
  frontend/src/app/material.module.ts
  frontend/src/assets/icons/exit_to_app.svg
  frontend/src/assets/icons/settings.svg
  frontend/src/assets/images/logo.svg
  frontend/src/index.html
  frontend/src/styles.css
Labels: frontend

#97 Add create questionnaire view
  backend/server/controllers/questionnaire-questions.js
  backend/server/routes/index.js
  backend/test/questionnaire_question/questionnaire_question_bulk_create/BulkCreateQuestionnaireQuestion.test.js
  backend/test/questionnaire_question/questionnaire_question_bulk_create/BulkCreateQuestionnaireQuestionWithoutText.test.js
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.html
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.ts
  frontend/src/app/components/questionnaires/questionnaire-create/questionnaire-create.component.css
  frontend/src/app/components/questionnaires/questionnaire-create/questionnaire-create.component.html
  frontend/src/app/components/questionnaires/questionnaire-create/questionnaire-create.component.spec.ts
  frontend/src/app/components/questionnaires/questionnaire-create/questionnaire-create.component.ts
  frontend/src/app/components/questionnaires/questionnaire-list-for-experiment/questionnaire-list-for-experiment.component.html
  frontend/src/app/components/questionnaires/questionnaire-list-for-experiment/questionnaire-list-for-experiment.component.ts
  frontend/src/app/material.module.ts
  frontend/src/app/services/crud.service.ts
  frontend/src/styles.css
Labels: backend, frontend

#100 Add QuestionResponse to backend
  backend/server/controllers/index.js
  backend/server/controllers/question-responses.js
  backend/server/migrations/0011-create-question-response.js
  backend/server/models/question-response.js
  backend/server/models/question.js
  backend/server/routes/index.js
  backend/server/seeders/0009-question-responses.js
Labels: backend

#107 Add asset upload to GCS
  .gitignore
  .travis.yml
  backend/package.json
  backend/server/config/cloud.json.travis
  backend/server/middlewares/files.js
  backend/server/routes/index.js
Labels: backend

#109 Frontend YouTube Video Display
  backend/server/controllers/participants.js
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.html
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.ts
  frontend/src/app/components/question-responses/question-responses-list/question-responses-list.component.css
  frontend/src/app/components/question-responses/question-responses-list/question-responses-list.component.html
  frontend/src/app/components/question-responses/question-responses-list/question-responses-list.component.spec.ts
  frontend/src/app/components/question-responses/question-responses-list/question-responses-list.component.ts
  frontend/src/app/components/question-responses/question-responses-retrieve/question-responses-retrieve.component.css
  frontend/src/app/components/question-responses/question-responses-retrieve/question-responses-retrieve.component.html
  frontend/src/app/components/question-responses/question-responses-retrieve/question-responses-retrieve.component.spec.ts
  frontend/src/app/components/question-responses/question-responses-retrieve/question-responses-retrieve.component.ts
  frontend/src/app/components/questionnaires/questionnaire-fill/questionnaire-fill.component.ts
  frontend/src/app/material.module.ts
  frontend/src/app/models/participant.ts
  frontend/src/app/services/crud.service.ts
Labels: backend, frontend

#102 Frontend questions
  backend/server/controllers/experiments.js
  backend/server/controllers/questions.js
  backend/server/models/question.js
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.html
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.ts
  frontend/src/app/components/questions/question-create/question-create.component.css
  frontend/src/app/components/questions/question-create/question-create.component.html
  frontend/src/app/components/questions/question-create/question-create.component.spec.ts
  frontend/src/app/components/questions/question-create/question-create.component.ts
  frontend/src/app/components/questions/question-delete/question-delete.component.css
  frontend/src/app/components/questions/question-delete/question-delete.component.html
  frontend/src/app/components/questions/question-delete/question-delete.component.spec.ts
  frontend/src/app/components/questions/question-delete/question-delete.component.ts
  frontend/src/app/components/questions/question-list/question-list.component.css
  frontend/src/app/components/questions/question-list/question-list.component.html
  frontend/src/app/components/questions/question-list/question-list.component.spec.ts
  frontend/src/app/components/questions/question-list/question-list.component.ts
  frontend/src/app/components/questions/question-retrieve/question-retrieve.component.css
  frontend/src/app/components/questions/question-retrieve/question-retrieve.component.html
  frontend/src/app/components/questions/question-retrieve/question-retrieve.component.spec.ts
  frontend/src/app/components/questions/question-retrieve/question-retrieve.component.ts
  frontend/src/app/components/questions/question-update/question-update.component.css
  frontend/src/app/components/questions/question-update/question-update.component.html
  frontend/src/app/components/questions/question-update/question-update.component.spec.ts
  frontend/src/app/components/questions/question-update/question-update.component.ts
  frontend/src/app/models/question.ts
  frontend/src/app/services/crud.service.ts
Labels: frontend

#111 Add upload for files in create question
  .gitignore
  backend/server/controllers/questions.js
  backend/server/models/question.js
  frontend/src/app/components/authentication/login/login.component.ts
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.html
  frontend/src/app/components/questions/question-create/question-create.component.html
  frontend/src/app/components/questions/question-create/question-create.component.ts
  frontend/src/app/components/questions/question-list/question-list.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/crud.service.ts
Labels: frontend

#113 Add questionnaire retrieve component
  .gitignore
  backend/server/controllers/experiments.js
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/authentication/login/login.component.html
  frontend/src/app/components/experiments/experiment-list/experiment-list.component.html
  frontend/src/app/components/experiments/experiment-list/experiment-list.component.ts
  frontend/src/app/components/experiments/experiment-retrieve/experiment-retrieve.component.html
  frontend/src/app/components/questionnaire-questions/questionnaire-question-create/questionnaire-question-create.component.css
  frontend/src/app/components/questionnaire-questions/questionnaire-question-create/questionnaire-question-create.component.html
  frontend/src/app/components/questionnaire-questions/questionnaire-question-create/questionnaire-question-create.component.spec.ts
  frontend/src/app/components/questionnaire-questions/questionnaire-question-create/questionnaire-question-create.component.ts
  frontend/src/app/components/questionnaires/questionnaire-add-to-experiment/questionnaire-add-to-experiment.component.ts
  frontend/src/app/components/questionnaires/questionnaire-fill/questionnaire-fill.component.html
  frontend/src/app/components/questionnaires/questionnaire-fill/questionnaire-fill.component.ts
  frontend/src/app/components/questionnaires/questionnaire-list-for-experiment/questionnaire-list-for-experiment.component.html
  frontend/src/app/components/questionnaires/questionnaire-list-for-experiment/questionnaire-list-for-experiment.component.ts
  frontend/src/app/components/questionnaires/questionnaire-list/questionnaire-list.component.html
  frontend/src/app/components/questionnaires/questionnaire-list/questionnaire-list.component.ts
  frontend/src/app/components/questionnaires/questionnaire-retrieve/questionnaire-retrieve.component.css
  frontend/src/app/components/questionnaires/questionnaire-retrieve/questionnaire-retrieve.component.html
  frontend/src/app/components/questionnaires/questionnaire-retrieve/questionnaire-retrieve.component.spec.ts
  frontend/src/app/components/questionnaires/questionnaire-retrieve/questionnaire-retrieve.component.ts
  frontend/src/app/components/questions/question-create/question-create.component.html
  frontend/src/app/components/questions/question-retrieve/question-retrieve.component.css
Labels: frontend
